{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block main %}

<main class="container">
    <form method="POST">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="userName">User name</label>
            <input type="text" name="userName" id="userName" class="form-control custom-input" placeholder="Enter User Name" required>
        </div>


        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control custom-input" placeholder="Enter Password" required>
        </div>

        <br>
        <button type="submit" class="btn btn-primary" >Login</button>
    </form>
</main>
{% endblock %}
